.btn{
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange{
    background-color: $mainOrange;
  }

  &--large{
    font-size: 0.7rem;
    padding: 0.5rem 1rem;

    @mixin atSmall{
      font-size: 1rem;
      padding: 0.7rem 1.4rem;
    }

    @mixin atMedium{
      font-size: 1.4rem;
      padding: 0.6rem 1rem;
    }

    @mixin atLarge{
      font-size: 1.8rem;
      padding: 0.9rem 1.1rem;
    }
  }
}
